* {
  box-sizing: border-box;

  background: black;

}
.main {
  text-align: center;
  color: #AACE00;
  font-size: 225px;
  font-family: 'Ubuntu', sans-serif;




}
.deleteBtn {
http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/green-metallic-orbs-icons-business/082677-green-metallic-orb-icon-business-trashcan3.png
}
.addBtn {

}
